* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'ComicCAT', sans-serif;
    background-image: url(img/bg\ \(1\).jpg)
}

main {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    justify-content: center;
}

@font-face {
    font-family: 'ComicCAT';
    src: url('font/Comic_CAT.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

a {
    text-decoration: none;
}